<a href="https://colab.research.google.com/github/Ibrah-N/Deep-Learning-Projects-Computer-Vision/blob/main/ADV_LAB_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Print function


print("Welcome to R programming for advance statistics")

[1] "Welcome to R programming for advance statistics"

In [2]:
# for loop in R


for (x in 1:10) {
  print(x)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

In [3]:
# creating variables in R

id = 20
name = "Nab"


print(id)
print(name)

[1] 20
[1] "Nab"

In [4]:
# concatenate element with past method

f_n = "Nab " # first name
l_n = "Jan"  # last name


f_n = paste(f_n, l_n) # full name
print(f_n)

[1] "Nab  Jan"

In [8]:
# multiple variables initialization

var1 = var2 = "Nab"

cat(var1, var2)

Nab Nab

In [10]:
# addition
num_1 = 10
num_2 = 5


print(num_1 + num_2)

[1] 15

In [11]:
# subtraction
num_1 = 10
num_2 = 5


print(num_1 - num_2)

[1] 5

In [12]:
# multiplication
num_1 = 10
num_2 = 5


print(num_1 * num_2)

[1] 50

In [13]:
# division
num_1 = 10
num_2 = 5


print(num_1 / num_2)

[1] 2

In [14]:
# modules
num_1 = 10
num_2 = 5


print(num_1 %% num_2)

[1] 0

In [16]:
# Vectors Operations

vec_1 = c(4, 8)
vec_2 = c(2, 4)



cat("addition ", vec_1 + vec_2, "\n")
cat("subtractin ", vec_1 - vec_2, "\n")
cat("multiplication ", vec_1 * vec_2, "\n")
cat("division ", vec_1 / vec_2, "\n")
cat("modulo ", vec_1 %% vec_2, "\n")
cat("exponent ", vec_1  ^ vec_2, "\n")

addition  6 12
subtractin  2 4
multiplication  8 32
division  2 2
modulo  0 0
exponent  16 4096

In [19]:
# Repation wit rep function
# rep(x, times, each)


rep_times = rep(x=5, times=3)
rep_times_vec = rep(x=c(1, 2, 3), times=3)
rep_times_vec_each = rep(x=c(1, 2, 3), times=3, each=2)


cat("rep_times ",rep_times , "\n")
cat("rep_times_vec ",rep_times_vec , "\n")
cat("rep_times_vec_each ",rep_times_vec_each , "\n")

rep_times  5 5 5
rep_times_vec  1 2 3 1 2 3 1 2 3
rep_times_vec_each  1 1 2 2 3 3 1 1 2 2 3 3 1 1 2 2 3 3

In [20]:
# storing vectors

unsorted_vec = c(3, 2, 1, 4)

sorted_d = sort(x=unsorted_vec, decreasing=TRUE)
sorted_a = sort(x=unsorted_vec, decreasing=FALSE)


cat("unsorted_vec ",unsorted_vec , "\n")
cat("sorted_d ",sorted_d , "\n")
cat("sorted_a ",sorted_a , "\n")

unsorted_vec  3 2 1 4
sorted_d  4 3 2 1
sorted_a  1 2 3 4